# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# RubyMine files
.idea/

# Helper files for me
.debug_commands
.yard_status

# Ignore all yard documentation files
.yardoc
doc/*
.yard_status

# Ignore all data files
*.yml
