# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# RubyMine files
.idea/

# Debug commands for me
.debug_commands

# Ignore all yard documentation files
.yardoc
doc/*
