# Ignore all logfiles and tempfiles.
log/*
tmp/*
!/log/.keep
!/tmp/.keep

# RubyMine files
.idea/

# Ignore all yard documentation files
.yardoc
doc/*

# Ignore all data files (But not test / GitHub files)
*.yml
!.github/**
!/spec/**/**/*.yml
